@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.square{
  background-color: white;
  border: 1px solid black;
}

header{
text-align: center;
border-bottom:  5px solid black;
padding-top: 20px;
padding-bottom: 20px;
background: linear-gradient(60deg, #f00, #700, #ff0, #0f0, #00f, #f0f);
}

h1{
  font-family: Tourney, Arial, monospace, sans-serif;
  font-size: 50px;
}
span, p{
  font-family: Arial, sans;
}

.grid{
  display:  grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 1px solid black;
  width: 700px;
  height: 700px;
}

.grid:hover{
  cursor: crosshair;
}

footer{
  padding: 10px;
}

#main-container{
  margin:  10px auto;
  width: 700px;
  height:  auto;
}

button{
  padding:  10px 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 0 black;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}


button[value="red"]{
  background-color: #f00;
}

button[value="orange"]{
  background-color: #fa0;
}

button[value="yellow"]{
  background-color: #ff0;
}

button[value="green"]{
  background-color: #0f0;
}

button[value="blue"]{
  background-color: #00f;
  color:  white;
}

button[value="violet"]{
  background-color: #f0f;
}

button[value="black"]{
  background-color: #000;
  color: white;
}

button[value="white"]{
  background-color: #fff;
}

button[value="rainbow"]{
  background: linear-gradient(90deg, #f00, #fa0, #ff0, #0f0, #00f, #f0f);
}

#choices{
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

body{
  background-image: url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg);
}


#input-range{
  padding:  10px;
  text-align: center;
}

.center{
  margin-top: 10px;
  text-align: center;
}

#current-color{
  font-weight: bold;
}